.idea
*.swp
node_modules
/coverage.data
/coverage/
examples/basic-next-serverless-app/build
.serverless
.next
sls-next-build
.serverless_nextjs
packages/cloudfront/dist
packages/lambda-at-edge/dist
packages/s3-static-assets/dist
**/examples/**/package-lock.json
.DS_Store
.vscode
.env
.package-lock.json
yarn-error.log
instructions.txt
